{% extends 'layout.html' %}


{% block content %}
<h2 class="text-center text-black mt-4">
    This is Tweet List Page.
</h2>

<a class="btn btn-light mb-4" href="{% url 'tweet_create' %}" role="button">Create a tweet</a>


<div class="container row gap-3 text-center">

    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        <img src="{{tweet.photo.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{tweet.user.username}}</h5>
            <p class="card-text">{{tweet.text}}</p>
            {% if tweet.user == user %}
            <div class="d-flex justify-content-center gap-2 mt-3">
                <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">edit</a>
                <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}